force-app/main/default/flows/Get_ZipCode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Zip_Code_Api_Callout</name>
        <label>Zip Code Api Callout</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>ZipCOde7.getZipCode</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>check_Country</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>Country_Val.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zip</name>
            <value>
                <elementReference>ZipCode1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ZipCOde7.getZipCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>MX</name>
        <choiceText>MEXICO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MX</stringValue>
        </value>
    </choices>
    <choices>
        <name>US</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>check_Country</name>
        <label>check Country</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>create_Zip_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other than US?</defaultConnectorLabel>
        <rules>
            <name>US1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Zip_Code_Api_Callout.2XX.countryx20abbreviation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zip_Code_Response</targetReference>
            </connector>
            <label>US?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get ZipCode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get ZipCode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Zip_Record</name>
        <label>create Zip Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <targetReference>ErrorCreateScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Zip_Code_Api_Callout.2XX.postx20code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>country__c</field>
            <value>
                <elementReference>Zip_Code_Api_Callout.2XX.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>country_abbreviation__c</field>
            <value>
                <elementReference>Zip_Code_Api_Callout.2XX.countryx20abbreviation</elementReference>
            </value>
        </inputAssignments>
        <object>ZipCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Display_Error_Screen</name>
        <label>Display Error Screen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Callout Exception {!Zip_Code_Api_Callout.defaultExc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorCreateScreen</name>
        <label>Error Create Screen</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Create_Screen</name>
            <fieldText>&lt;p&gt;DML Exception&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Country_Selection_Screen</name>
        <label>User Country Selection Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Zip_Code_Api_Callout</targetReference>
        </connector>
        <fields>
            <name>Country_Val</name>
            <choiceReferences>US</choiceReferences>
            <choiceReferences>MX</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Country Val</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Country</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ZipCode1</name>
            <dataType>String</dataType>
            <fieldText>ZipCode</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Zip_Code_Response</name>
        <label>Zip Code Response</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Response</name>
            <fieldText>&lt;p&gt;{!Zip_Code_Api_Callout}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Zip_Code_Api_Callout.2XX.country}&lt;/p&gt;&lt;p&gt;{!Zip_Code_Api_Callout.2XX.places}&lt;/p&gt;&lt;p&gt;{!Zip_Code_Api_Callout.2XX.postx20code}&lt;/p&gt;&lt;p&gt;{!Zip_Code_Api_Callout.2XX.countryx20abbreviation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Country_Selection_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ZipCodeResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
